$headertextcolor: #fefefe;
$bigbarscolor:#3286c559;
.main-app {
    display: flex;
    flex-direction: row;
    width: 100%;
    .app-body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        width: 95%;
        nav {}
        .app-content {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            border: none;
            padding: 10px;
            justify-content: space-between;
            .middle-bar {
                padding: 15px;
                border-radius: 10px;
                height: 100%;
                width: 70%;
                background: $bigbarscolor;
                border-style: solid;
                border-width: 1px;
                border-color: #c8d0d6;
            }
            .dash-sect {
                margin-bottom: 3%;
                .events-table {
                    background-color: white;
                    border-radius: 7px;
                    thead {
                        background-color: #f5f5f5;
                        border-radius: 7px;
                        th {
                            color: $bigbarscolor;
                            font-weight: 500;
                            font-size: 14px;
                            border-radius: 7px;
                            padding: 10px;
                        }
                    }
                }
                h2 {
                    color: $headertextcolor;
                    font-weight: 450;
                    font-family: poppins;
                    font-size: 19px;
                }
                .summary-sect {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .summ-sect-card {
                        width: 50%;
                        background-color: white;
                        margin-right: 2%;
                        padding: 10px;
                        border-radius: 7px;
                        h2 {
                            font-size: 15px;
                            font-weight: 400;
                            color: $headertextcolor;
                        }
                        span {
                            font-size: 13px;
                            font-weight: 500;
                            color: $headertextcolor;
                        }
                    }
                }
            }
            .right-bar {
                padding: 15px;
                border-radius: 10px;
                height: 100%;
                width: 28%;
            }
        }
    }
}