.main-app {
    .app-body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        nav {}
        .app-content {
            .middle-bar {}
            .right-bar {}
        }
    }
}