.auth-col {
    display: flex;
    flex-direction: column
}

.auth-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    .auth-form {
        h2 {
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 1rem;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }
        box-shadow: 0px 0px 8px #8080804d;
        background-color: white;
        padding: 20px;
        width:40%;
        border-radius: 5px;
        button {
            width: 100%;
            font-weight: 600;
        }
        .hrh {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .hr {
            width: 200%;
            margin: 0.3rem 0;
            border: 1px solid rgba(204, 204, 204, 0.325);
        }
        .for-pas {
            display: flex;
            justify-content: flex-end;
            align-items: right;
            align-content: flex-end;
            margin: 0.5rem 0;
            color: #1f7af9;
            text-decoration: none;
            width: 100%;
            font-weight: 600;
            cursor: pointer;
        }
        .smaautt {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            .nex {
                color: #1f7af9;
                font-weight: 600;
                margin-left: 0.2rem;
            }
            text-decoration: none;
            width: 100%;
            cursor: pointer;
        }
    }
}

.authnav {
    padding: 10px;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #808080;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .auth-body {
        .auth-form {
            width: 60%;
        }
    }
}

@media screen and (max-width: 768px) {
    .auth-body {
        .auth-form {
            width: 80%;
        }
    }
}