.first-bar {
    width: max-content !important;
    height: 100%;
    .top-logo {
        img {
            object-fit: cover;
            height: 65px;
            width: auto;
        }
    }
    .lower-body {
        .user-info-box {
            width: max-content;
            background: #87c7ff;
            padding: 1%;
            color: white;
            font-family: poppins;
        }
    }
}