.sidebar {
    width: fit-content;
    height: 96vh;
    background: rgb(85, 116, 175);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 54px;
    box-shadow: 0px 0px 8px #7c7c7c;
    .applogo {}
    .sideitems {
        width: 75px;
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-wrap: nowrap;
        align-items: flex-start;
        a {
            border-color: transparent;
            color: white !important;
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
            text-shadow: 0px 0px 2px rgb(0 0 0 / 40%);
            height: 35px;
            width: 100%;
            display: inline-block;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            cursor: pointer;
            /*padding: 5px 20px;*/
            border-style: solid;
            border-width: 0px 0px 0px 3px;
            cursor: pointer;
            text-align: center;
            vertical-align: top;
            &:hover {
                border-color: white;
                transition: 0.3s;
                transform: translate(0,-5px);
                .label {
                    opacity: 100;
                }
            }
            .label {
                opacity: 0;
                transition: 0.3s;
                font-size: 10px;
                align-self: center;
                font-style: sans-serif;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .sidebar {
        position: absolute;
        bottom: 0;
        height: fit-content;
        width: 95%;
        margin-bottom: 10px;
        .applogo{
            display: none;
        }
        .sideitems{
            width: 90%;
            display: flex;
            flex-direction: row;
            margin-top: 12px;
            margin-bottom: -15px;
            a {
                border-width: 0px 0px 0px 0px;
            }
        }
    }
}
