.nav-container {
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    .logo-container {
        margin-left: 20px;
        .logo {
            height: 60px;
            width: 60px;
        }
    }
    .nav-heading {
        margin-left: 10px;
    }
}